<form>
  <input type="text" placeholder="email" name="email">
  <input type="text" placeholder="api_key" name="api_key">
  <input type="submit" value="Go" class="btn btn-default full-width">
</form>
<div id="error" class="error"></div>
